<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CorextPackageLowerBound" value="5.1.5" />

    <!-- 5.1.5 hasn't released yet, but it unblocks 'corext clone' so it has a special flight ID so we can safely pull it in here and it turns to a NOP after release -->
    <add key="ReleaseFlightIds" value="Corext.5.1.5" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
