<corext cacheRoot="%NugetMachineInstallRoot%" generationRoot="%PackageAddressGenDir%" extensions="%ROOT%\build\corext" userExtensions="%CorextUserExtensions%" validatePackageDependencies="false">

  <!-- See: http://aka.ms/corext  (specifically http://sharepoint/sites/corext/LivingDocs/Corext.config.aspx) -->

  <repositories>
    <repo name="CoreXT" uri="https://corext.pkgs.visualstudio.com/DefaultCollection/_packaging/CoreXT/nuget/v3/index.json" />
    <repo name="MsInternal" uri="https://corext.pkgs.visualstudio.com/DefaultCollection/_packaging/Microsoft-Internal/nuget/v3/index.json" />
  </repositories>

  <packages>

    <!-- Cloudbuild / Corext -->
    <package id="CloudBuild.OnCorext" version="3.0.4" />
    <package id="Corext.Build" version="1.2.21" />
    <package id="Corext.Extras" version="1.0.4" />
    <package id="Corext.Rewind" version="1.0.1" />
    <package id="Corext.SourceControl.Git" version="1.0.1" />


    <!-- msbuild and extensions -->
    <package id="MsBuild.Corext"       version="14.0.25123.11" />
    <package id="MsBuild.Tasks.Corext" version="1.0.4" />


    <!-- Toolsets and core reference libs -->
    <package id="VisualCpp.Corext" version="12.0.30723.1" />
    <package id="WindowsSdk.Corext" version="6.3.9600.7" />
    <package id="DotNetFxTools.Corext" version="4.0.30319.1" />
    <package id="DotNetFxRefAssemblies.Corext" version="4.5.2.1" />
    <package id="NET_Framework_462_TargetingPack" version="4.6.01531.00" />


    <!-- Tools -->
    <package id="Perl.Corext" version="5.10.0.2" />
    <package id="Purger" version="2.3.11" />
    <package id="VsMsBuild.Corext" version="3.0.4" />

  </packages>
  <scenarios />
</corext>
