<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CorextPackageLowerBound" value="5.1.16" />

    <!-- default into the most recent up to date corext -->
    <add key="ReleaseFlightIds" value="Corext.5.1.16" />
    <add key="NugetVersion" value="3.6" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
