<corext cacheRoot="%NugetMachineInstallRoot%" generationRoot="%PackageAddressGenDir%" extensions="%ROOT%\build\corext" userExtensions="%CorextUserExtensions%" validatePackageDependencies="false">
  <repositories>
    <repo name="CoreXT" uri="https://corext.pkgs.visualstudio.com/DefaultCollection/_packaging/CoreXT/nuget/v3/index.json" />
    <repo name="MsInternal" uri="https://corext.pkgs.visualstudio.com/DefaultCollection/_packaging/Microsoft-Internal/nuget/v3/index.json" />
  </repositories>
  <packages>
    <package id="CloudBuild.OnCorext" version="3.0.4" />
    <package id="Corext.Build" version="1.2.19-validate1" />
    <package id="Corext.Extras" version="1.0.3" />
    <package id="Corext.Rewind" version="1.0.1" />
    <package id="Corext.SourceControl.Git" version="1.0.0" />
    <package id="DotNetFxRefAssemblies.Corext" version="4.5.2.1" />
    <package id="DotNetFxTools.Corext" version="4.0.30319.1" />
    <package id="MsBuild.Corext" version="12.0.21005.37" />
    <package id="MsBuild.Tasks.Corext" version="1.0.1" />
    <package id="Perl.Corext" version="5.10.0.2" />
    <package id="Purger" version="2.3.9" />
    <package id="VsMsBuild.Corext" version="3.0.4" />
  </packages>
  <scenarios />
</corext>